*
  margin:  0
  padding: 0

@mixin rounded
  $radius: 6px

  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius

@mixin shadow
  box-shadow: 2px 2px 2px gray

h1
  font-size: 42pt

  small
    margin-left: 16pt
    font-size: 16pt
    text-align: center
    vertical-align: middle
    line-height: 42pt

dl
  dd
    margin-left: 16px

form
  input, textarea
    font-size: 13pt
    margin: 4pt
    padding: 6pt
    border: 1px solid #D0D0D0
    
    &:focus
      border: 1px solid #A0F0A0

span.red
  background-color: red
  color: white
span.green
  background-color: green
  color: white
span.yellow
  background-color: yellow
  color: white  
span.darkorange
  background-color: darkorange
  color: white  
span.blue
  background-color: blue
  color: white  

label
  display: block

html
  body
    width: 100%
    height: 100%

    background-color: white

    .page
      margin-top: 20px
      margin-left: auto
      margin-right: auto
      min-width: 960px
      min-height: 100%
      width: 960px

      header
        color: #454545
        height: 80px
        text-align: center
        text-shadow: 2px 2px 2px gray

      section.editor
        @include rounded
        @include shadow

        background-color: #FEFEFE
        border: 1px solid #D0D0D0
        padding: 18px
        font-size: 8pt

        .regexp_entry
          padding: 8px              

          input, span
            display: inline-block
            margin: 4px

          span
            color: gray
            margin-top: -4pt
            font-size: 24pt
            line-height: 24pt
            vertical-align: middle
        
        .test
          display: table
          width: 100%

          .data_pane
            width: 50%
            padding: 8px              
            display: table-cell
            
            textarea
              font-family: monaco, courier
              font-size: 10pt
              font-weight: bold
              padding: 6pt
              min-height: 218px
              width: 100%
              box-sizing: border-box
              -moz-box-sizing: border-box

          .match_pane
            width: 50%
            padding: 8px
            display: table-cell
            
            #result, #result_groups
              font-family: monaco, courier
              font-size: 10pt
              font-weight: bold
              padding: 6pt
              margin: 4px
              min-height: 200px
              border: 1px solid #D0D0D0
              box-sizing: border-box 
              -moz-box-sizing: border-size

      section.help
        @include rounded
        @include shadow
        border: 1px solid #D0D0D0
        margin-top: 32px
        padding: 8px
        font-size: 8pt
        
        code
          font-weight: bold 

        table
          display: table-cell

          tr
            td
              padding-right: 12px
        
        .regex_options
          text-align: center
          border-top: 1px solid #D0D0D0
          padding-top: 16px
          margin-top: 16px
          
          code
            padding-right: 12px
            padding-left: 12px

      footer
        color: grey
        margin-top: 16px
        min-height: 32px
        text-align: center
